body {
	background-image: 
}

#welcome-page {
	
}

h1 {
	font-family: 'Ranchers', cursive;
	font-size: 50px;
}

#start-button {
	background-color: black;
	color: #F5BE0B;
	border: none;
	font-family: 'Bigelow Rules', cursive;
	font-size: 40px;
	cursor: pointer;
	transition-duration: 0.4s;
}

#start-button:hover {
	background-color: #F5BE0B;
	color: black;
}

#explore-page {
	width: 100vw;
	margin-left: calc(-50vw + 50%);
	/*height: 100vw;*/
	display: none;
}
