body {
	background-image: 
}

#welcome-page {
	
}

h1 {
	font-family: 'Ranchers', cursive;
	font-size: 50px;
}

#explore-page {
	display: none;
}

.btn {
	background-color: black;
	color: #F5BE0B;
	border: none;
	font-family: 'Bigelow Rules', cursive;
	cursor: pointer;
	transition-duration: 0.4s;
	font-size: 40px;
}

.btn:hover {
	background-color: #F5BE0B;
	color: black;
}